<% content_for :head do %>
  <script src="<%= s_js_path %>/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= s_js_path %>/lib/ace/mode-c_cpp.js"></script>
  <script src="<%= s_js_path %>/lib/ace/mode-java.js"></script>
  <script src="<%= s_js_path %>/lib/ace/mode-python.js"></script>
  <script src="<%= s_js_path %>/lib/ace/theme-textmate.js"></script>
  <script src="<%= s_js_path %>/channel/bcsocket.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= s_js_path %>/share/share.uncompressed.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= s_js_path %>/share/ace.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript">
    function prepForAce() {
      $("#question_codedoc").hide();
      $("#question_form").submit(
        function() {
          $("#question_codedoc").val(gEditors["editor"].getSession().getValue());
        }
      );
    }

    var supressQuestionSubmit = false;
    $(function() {
      prepForAce();
      $("#question_form").keypress(function(event) {
        if (supressQuestionSubmit) {
          event = event || window.event;
          if (event.keyCode == 13 || event.which == 13) {
            e.preventDefault();
          }
        }
      });

      $("#question_form").bind('ajax:beforeSend', function() {
        supressQuestionSubmit = true;
        $("#save_question").attr("disabled", "disabled");
        $("#question_submit_feedback").html('<%= image_tag('loading.gif') %>');
      });
    });
  </script>
<% end %>

<%= form_tag "/questions", :remote => true, :id => "question_form" do %>
  <div class="field">
    <%= label_tag :question %>
    <%= text_field_tag :question_question, "", :class => "errorable" %>
  </div>
  <div class="field">
    <%= label_tag "Write some template code for your interviewee to use" %>
    <div class="question-editor" id="editor"></div>
    <%= text_area_tag :question_codedoc, "", :class => "errorable" %>
  </div>
  <div class="actions question-actions">
    <%= submit_tag "Save Question", :class => "btn btn-primary", :id => "save_question" %>
    <span id="question_submit_feedback"></span>
  </div>
  <div class="error-space" id="question-error-message"><br /><br /></div>
<% end %>
