$("#save_question").removeAttr('disabled');

<% if @question.errors.any? %>
  resetQuestionErrors();
  
  $("#question_submit_feedback").html('<%= image_tag('failure.png') %>');

  <% errors = @question.errors %>
  <% attribute = errors.keys()[0] %>
  <% error = errors.full_message(attribute, errors.get(attribute)[0]) %>

  setQuestionErrors("<%= attribute %>", "<%= error %>");

  if (typeof question_not_saved  == 'function') {
    question_not_saved();
  }

<% else %>
  resetQuestionErrors();
  $("#question_submit_feedback").html('<%= image_tag("success.png") %>');
  var question = "<%= @text %>";
  // This will straight up error in the modal case...
  // Fortunately the user will never know!
  if ($("#questions").length) {
    $("#questions").append('<tr><td>' + question + '</td><td>None</td></tr>').find('tr:last').hide().fadeIn('slow');
  }

  // Clear the fields
  $("#question_question").val('');
  $("#question_codedoc").val('');

  // Will only run if you are rendering this form outside
  // of the normal parameters, like in a modal because question_saved is
  // only defined in that html.
  if (typeof question_saved  == 'function') {
    var question_data = {};
    question_data["id"] = <%= @question.id  %>;
    question_data["question"] = "<%= escape_javascript(@question.question) %>";
    question_data["codedoc"] = "<%= escape_javascript(@question.codedoc) %>";
    question_saved(question_data);
    $(".errorable").blur();
  }

<% end %>
supressQuestionSubmit = false;