<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      setUpAce("editor");
    });
  </script>
<% end %>

<h1>My Questions</h1>
<div class="row">
<div class="questions-listing span8">
<table id="questions" class="table table-striped">
  <tr>
    <th>Question</th>
    <th>Answers</th>
  </tr>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.question %></td>
      <td><% if question.answers.length == 0 %>
        None   
        <% else %>
        <%= question.answers.length %>
        <% end %>
      </td>
  </tr>
<% end %>
</table>
</div>
<div class="new question span4">
<h2>Create Question</h2>
<%= render "form" %>
</div>

</div>

