<p id="notice"><%= notice %></p>

<p>
  <b>Interviewer:</b>
  <%= @question.interviewer_id %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Codedoc:</b>
  <%= @question.codedoc %>
</p>

