<%= form_for(@interviewee) do |f| %>
  <% if @interviewee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interviewee.errors.count, "error") %> prohibited this interviewee from being saved:</h2>

      <ul>
      <% @interviewee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>


  <div class="field">
  lala
    <%= f.label "Current password" %>
    <%= f.text_field "current_password" %> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
