<h1>Listing interviewees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @interviewees.each do |interviewee| %>
  <tr>
    <td><%= interviewee.name %></td>
    <td><%= interviewee.email %></td>
    <td><%= link_to 'Show', interviewee %></td>
    <td><%= link_to 'Edit', edit_interviewee_path(interviewee) %></td>
    <td><%= link_to 'Destroy', interviewee, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Interviewee', new_interviewee_path %>
