<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @interviewee.name %>
</p>

<p>
  <b>Email:</b>
  <%= @interviewee.email %>
</p>


<%= link_to 'Edit', edit_interviewee_path(@interviewee) %> |
<%= link_to 'Back', interviewees_path %>
