<% content_for :head do %>
<script type= "text/javascript">
    $(function() {
        scroll_to_end_of_chat();

        // Set up
        var jug = new Juggernaut;
        jug.subscribe(<%= %Q('/chat_#{@interview.key}')  %>, function(data) {
            handleChat(data);
        });

        $("#chat_form").bind("ajax:beforeSend", function() {
            $("#chat_text").val('');
        });
    });
</script>
<% end %>

<div class="span3 ivu-chat" id="chat_container">
    <div class="row-fluid" id="video_container">
        <div class="row-fluid subscriber_container">
            <img src="<%= image_path("novideo.png") %>" id="novideo_image1" alt="No Video" />
        </div>
        <div class="row-fluid" id="my_video_and_buttons">
            <div class="row-fluid my_video_container">
                <img src="<%= image_path("novideo.png") %>" id="novideo_image2" alt="No Video" />
            </div>
            <div class="row-fluid" id="video_buttons">
                <div id='buttons_loading'></div>
            </div>
        </div>
    </div>
    <div id="chat_hist">
        <%= get_chat_html(@interview.chat) %>
    </div>
    <div class="chat_submit">
        <%= form_tag "/chat", :remote => true, :id => "chat_form" do %>
        <%= text_field_tag :chat_text, nil, :autocomplete => :off %>
        <%= hidden_field_tag :id, @interview.id %>
        <%= hidden_field_tag :name, @name %>
        <%= submit_tag "Send chat", :class => "btn btn-primary", :id => "send_chat" %>
        <% end %>
    </div>
</div>
