<div class="row-fluid">
    <div class="current-question">
        <%= @curr_question %>
    </div>
    <% if @is_interviewer %>
        <div class="interview_box_interviewer" id="editor"></div>
    <% else %>
        <div class="interview_box_interviewee" id="editor"></div>
    <% end %>
</div>
<% if @is_interviewer %>
    <div class="row-fluid">
        <%= text_area_tag(:notes, @interview.notes, :placeholder => "Notes...", :size => "500x100") %>
    </div>
<% end %>
