<%= form_for(@interview) do |f| %>
  <% if @interview.errors.any? or @interviewee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview.errors.count + @interviewee.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% @interviewee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @interview.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :email, "Interviewee's Email" %><br />
    <%= @interviewee.email %>
  </div>
  <div class="field">
    <%= f.label :time_start %><br />
    <%= f.datetime_select :time_start %>
  </div>
  <div class="field">
    <%= label_tag "Questions" %><br />
    <% questions = current_user.questions.collect do |question|
         [question.question, question.id]
       end %>
    <%= select_tag :questions, options_for_select(questions), {:multiple => true, :size => 5} %>
  </div>
  <div class="field">
    <input type="hidden" id="dst" name="dst" value="" />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
