<% content_for :head do %>
<script type="text/javascript">
  $(function() {
    var jugAnswer = new Juggernaut;
    jugAnswer.subscribe(<%= %Q('/answers_#{@interview.key}') %>, function(data) {
      changeQuestion(data);
//      $(".current-question").text(data["question"]);
//      $("#answer_id").val(data["id"]);
    });

    var jugLang = new Juggernaut;
    jugLang.subscribe(<%= %Q('/lang_#{@interview.key}') %>, function(data) {
      // Updates syntax highlighting when language changes
      set_syntax_lang(data["language"]);
    });

    $(window).unload(disconnect);
  });
</script>
<% end %>

<div class="interview_room">
  <h1>Interview Room</h1>
  <%= hidden_field_tag(:answer_id, @curr_answer_id) %>
  <div class="row-fluid">
    <div class="span9 ivu-code">
      <%= render 'code' %>
      <div class="row-fluid" id="console_interviewee">
	<br/>
	Console:
        <%= text_area_tag(:console, "", :readonly => :readonly) %>
      </div>
    </div>
    <%= render 'chat_and_video' %>
  </div>
</div>
