<% content_for :head do %> 
<script type="text/javascript">
  function setUpJugg() {
    var jug_quest = new Juggernaut;
    jug_quest.subscribe(<%= %Q('/answers_#{@interview.key}') %>, function(data) {
      changeQuestion(data);
      if ("id" in data) {
        gEditors["editor"].getSession().setValue(data["code"]);
      }
    });
  }

  $(function() {
    setUpJugg();

    // Events
    gEditors["editor"].getSession().on('change', function() { onEditorChange() });
    $(window).unload(function() { onUnload(<%= @interview.id %>); });
    $("#languages").change(function() { onLangChange() });
    $("#code_exec").click(function() { onExecuteCode(<%= %Q('#{@interview.key}') %>) });
    $("#notes").keyup(function() { onNotesChanged(<%= @interview.id %>) });
  });
</script>
<% end %>

<div class="interview_room">
  <h1>Interview Room</h1>
  <%= hidden_field_tag(:answer_id, @curr_answer_id) %>
  <div class="row-fluid">
    <div class="span3 ivu-questions">
      <div class="row-fluid" id="questions_and_buttons">
        <%= select_tag(:languages, options_for_select(supported_lang_options, @curr_answer_lang)) %>
        <%= form_tag("/interviews/change", :method => "post", :remote => "true") do %>
          <%= select_tag(:answer, options_for_select(@questions_tags, @curr_answer_id), {:size => 15}) %>
          <div class="ivu-lbuttons">
            <%= submit_tag("Change question", {:class => "btn btn-primary"} ) %>
            <% if @curr_answer_lang == "none" %>
              <input type="button" id="code_exec" value="Execute code!" disabled="disabled" class="btn btn-danger"/>
            <% else %>
              <input type="button" id="code_exec" value="Execute code!" class="btn btn-danger"/>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row-fluid" id="console_interviewer">
	    <%= text_area_tag(:console, "", :readonly => :readonly) %>
      </div>
    </div>
    <div class="span6 ivu-code">
      <%= render 'code' %>
    </div>
    <%= render 'chat_and_video' %>
  </div>
</div>

