<% content_for :head do %>
<script type="text/javascript">
function openModal() {
  $("#new-question").modal('show');
}


function question_saved(question_data) {
  $("#new-question").modal('hide');
  $("#interview_questions").append("<option value=" + question_data["id"] + " selected='selected'>" + question_data["question"] + "</option>");
  var numQuestions = $("#interview_questions option").size();
  var sizeQuestions = $("#interview_questions").attr("size");
  var scrollHeight = $("#interview_questions").prop("scrollHeight") * (numQuestions - sizeQuestions + 1) / numQuestions;
  $("#interview_questions").scrollTop(scrollHeight);
  $("#submit_feedback").html('');
}

function reset_modal() {
  resetQuestionErrors();
  $("#submit_feedback").html('');
  closeAce("editor");
}

var supressInterviewSubmit = false;
$(function(){
  $("#new_interview").keypress(function(event) {
    if (supressInterviewSubmit) {
      event = event|| window.event;
      if (event.keyCode == 13 || event.which == 13) {
        e.preventDefault();
      }
    }
  });

  $("#new-question").modal({show: false});
  $("#new-question").on('shown',
    function () {
      setUpAce("editor");      
    }
  );

  $('.datepick').datetimepicker({
      dateFormat: "MM dd, yy",
      stepMinute: 5,
      stepHour: 1
  });

  $("#new_interview").bind('ajax:beforeSend', function () {
    supressInterviewSubmit = true;
    $("#save_interview").attr("disabled", "disabled");
    $("#int_submit_feedback").html('<%= image_tag("loading.gif") %>');
  });

  $("#make-ques-button").click(function () {
    openModal();
  });

  $("#new-question").on('hidden', function() {
    reset_modal();
  });

});
</script>
<% end %>

<%= form_for @interview, :remote => true, :disable_with => "Submitting..." do |f| %>
  <div class="field">
    <%= label_tag :name, "Name of interviewee" %>
    <%= text_field :interviewee, :name, :class => "errorable" %>
  </div> 
  <div class="field">
    <%= label_tag :email, "Their email" %>
    <%= text_field :interviewee, :email, :class => "errorable" %>
  </div>
  <div class="field">
    <%= f.label :time, "Day and Time - #{current_user.time_zone}" %>
    <%= f.text_field :time_start, {:class => "datepick errorable"}  %>
  </div>
  <div class="field">
    <%= label_tag "Pick some  questions to ask:" %>
    <%= select_tag :interview_questions, options_for_select(get_questions),  {:multiple => true, :size => 5} %>
    <a class="btn btn-success" id="make-ques-button">New question</a>
  </div>
  <div class="actions">
    <br/>
    <%= f.submit "", :class => "btn btn-primary btn-large", :value => "Create Interview", :id => "save_interview" %>
    <span id="int_submit_feedback"></span>
  </div>
  <div class="error-space" id="interview-error-message"><br /><br /></div>
<% end %>

<div class="modal fade hide" id="new-question">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" id="close-modal">X</button>
    <h3>New Question</h3>
  </div>
  <div class="modal-body">
    <%= render "/questions/form" %>
  </div>
</div>
