gEditors['editor'].getSession().setValue("<%= raw(@answer.answer) %>");

var lang = <%= %Q('#{@answer.language}') %>;
$("#languages").val(lang);
$(".current-question").text(<%= %Q('#{@answer.question.question}') %>);
$("#answer_id").val(<%= @answer.id %>);

if (lang == "none") {
  $("#code_exec").attr("disabled", "disabled");
} else {
  $("#code_exec").removeAttr("disabled");
}