$("#save_interview").removeAttr('disabled');
<% if @valid %>
  window.location = <%= "'" + interview_path(@interview) + "'" %>;
<% else %>
  $("#int_submit_feedback").html('<%= image_tag("failure.png") %>');

  resetInterviewErrors();

  <% error = get_error_info(@interviewee, @interview) %>
  
  setInterviewErrors("<%= error.attribute %>", "<%= error.error %>");
<% end %>
supressInterviewSubmit = false;
