<div class="interviews-page row">
<div class="interview-list span8">
<h2>Upcoming interviews</h2>
<table class="table table-striped">
  <tr>
    <th>Interview date</th>
    <th>With</th>
    <th>Email</th>
  </tr>

<% upcoming_interviews.each do |interview| %>
  <tr>
        <% ivu_interviewee = Interviewee.find(interview.interviewee_id) %>
    <td><%= link_to interview.time_start.to_s(:long), interview  %></td>
    <td><%= ivu_interviewee.name %></td>
    <td><%= mail_to ivu_interviewee.email %></td>
  </tr>
<% end %>
</table>

<br />
<h2>Recent interviews</h2>
<table class="table table-striped">
  <tr>
    <th>Interview date</th>
    <th>With</th>
    <th>Email</th>
  <!--  <th>Performance</th> -->
  </tr>

<% previous_interviews.each do |interview| %>
  <tr>
        <% ivu_interviewee = Interviewee.find(interview.interviewee_id) %>
    <td> <%= link_to interview.time_start.to_s(:long), interview  %></td>
    <td><%= ivu_interviewee.name %></td>
    <td><%= mail_to ivu_interviewee.email %></td>
<!--    <td>
      <input class="star" name="<%= interview.id %>" type="radio" title="Poor" value="1"></input>
      <input class="star" name="<%= interview.id %>" type="radio" title="Below expectations" value="2"></input>
      <input class="star" name="<%= interview.id %>" type="radio" title="Interesting" value="3"></input>
      <input class="star" name="<%= interview.id %>" type="radio" title="Very good" value="4"></input>
      <input class="star" name="<%= interview.id %>" type="radio" title="Must hire" value="5"></input>
    </td> -->
<% end %></tr>
</table>


</div>
<div class="ivulist-new span4">
<h2>Schedule Interview</h2>
<%= render "new_form" %>
</div>

</div>

