<% content_for :head do %>
  <script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= s_js_path %>/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= s_js_path %>/lib/ace/mode-c_cpp.js"></script>
  <script src="<%= s_js_path %>/lib/ace/mode-java.js"></script>
  <script src="<%= s_js_path %>/lib/ace/mode-python.js"></script>
  <script src="<%= s_js_path %>/lib/ace/theme-textmate.js"></script>
  <script src="<%= s_js_path %>/channel/bcsocket.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= s_js_path %>/share/share.uncompressed.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= s_js_path %>/share/ace.js" type="text/javascript" charset="utf-8"></script>
  <script src="<%= base_url %>:8080/application.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    // Used to set initial variables
    setInitVars(<%= api_key %>, '<%= @interview.session_id %>', '<%= token(@interview.session_id) %>', '<%= raw(image_tag("loading.gif")) %>');
    
    $(function() {
      setUpAce("editor");
      set_syntax_lang($("#languages").val());

      var docName = "<%= 'code:' + @interview.key %>";
      var initText = "<%= raw(@curr_answer_text) %>";
      var path = '<%= s_js_path %>'

      setUpShareJS("editor", docName, path, initText);

      var jugConsole = new Juggernaut;
      jugConsole.subscribe(<%= %Q('/code_#{@interview.key}') %>, function(data) {
        $("#console").val(data);
      });
    });

  </script>
<% end %>
<%= if @is_interviewer
      render 'interviewer_show'
    else
      render 'interviewee_show'
end %>
