<div class="account-page row">

<div class="span12"
<%= form_for(@interviewer) do |f| %>
  <% if @interviewer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interviewer.errors.count, "error") %> prohibited this interviewer from being saved:</h2>

      <ul>
      <% @interviewer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
   <%= f.label :time_zone%>
   <%= f.time_zone_select(:time_zone, ActiveSupport::TimeZone.us_zones)  %>
  </div>

  <div class="field">
    <%= f.label "Current password" %>
    <p>Required for security purposes</p>
    <%= f.password_field "current_password" %>
  </div>
  <div class="field">
    <%= f.label "New password"%>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
    <div class="actions signup">
    <%= f.submit "", :class => "btn btn-primary", :value => "Submit"  %>
  </div>


<% end %>
</div>
</div>
