<% content_for :head do %>
  <script type="text/javascript">
    var supressInterviewerSubmit = false;

    $(function() {
      $("#new_interviewer").keypress(function(event) {
        if (supressInterviewerSubmit) {
          event = event|| window.event;
          if (event.keyCode == 13 || event.which == 13) {
            e.preventDefault();
          }
        }
      });

      $("#new_interviewer").bind('ajax:beforeSend', function() {
        supressInterviewerSubmit = true;
        $("#save_interviewer").attr("disabled", "disabled");
        $("#submit_feedback").html('<%= image_tag('loading.gif') %>');
      });
    });
  </script>
<% end %>

<%= form_for @interviewer, :remote => true do |f| %>
  <div class="field">
    <%= f.text_field :name, :class => :errorable, :placeholder=>"Name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :class => :errorable, :placeholder=>"Email" %>
  </div>
  <div class="field">
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, {:default => "Pacific Time (US & Canada)"}, :class => :errorable %>
  </div>
  <div class="field">
    <%= f.password_field :password, :class => :errorable, :placeholder=>"Password" %>
  </div>
  <div class="error-space" id="error-message"><br /></div>
  <%= f.submit "", :class => "btn btn-success btn-large", :value => "Create Account", :id => "save_interviewer" %>
  <span id="submit_feedback"></span>
<% end %>
