$("#save_interviewer").removeAttr('disabled');
<% if @saved %>
  window.location = '<%= interviewer_path(@interviewer) %>';
<% else %>
  resetInterviewerErrors();
  $("#submit_feedback").html('<%= image_tag("failure.png") %>');

  <% errors = @interviewer.errors %>
  <% attribute = errors.keys()[0] %>
  <% error = errors.full_message(attribute, errors.get(attribute)[0]) %>

  setInterviewerErrors("<%= attribute %>", "<%= error %>");
<% end %>
supressInterviewerSubmit = false;