<% if !notice.blank? %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1><%=@interviewer.name %></h1>

<div class="my-interviews">
  <h2>My Interviews</h2>
  <h3>Upcoming</h3>
  <% if !@interviewer.interviews.blank? %>
  <table class="interview-table">
    <tr class="table-headers">
      <td>With</td>
      <td>Date</td>
      <td>Email</td>
    </tr>
  <% for interview in @interviewer.interviews %>
    <tr > 
      <td><%= link_to interview.interviewee.name, interview %></td>
      <td><%= interview.time_start.to_formatted_s(:long)%></td>
      <td><%= mail_to(interview.interviewee.email) %></td>
    </tr>
  <% end %>
  </table>
  <% else %>
    <p>No upcoming interviews scheduled</p>
  <% end %>
  <h3>Recent</h3>

  
<%= link_to 'New Interview', new_interview_path %> 
</div>


