<div class="front-page">
  <div class="row">
    <div class="login-space span12">
      <div class="front-account">
        <h2>Sign up now!</h2>
        <%=  render "/interviewers/form" %>
      </div>
    </div>
  </div>
  <div class="row steps">
    <div class="span4">
      <div class="number-img"><%= image_tag "number_1.png" %></div>
      <div class="step-title">Schedule</div>
      <div class="step-desc">Schedule your interview and sit back. Coduru will notify and remind your applicants for you. You don't have to do anything!</div>
    </div>
    <div class="span4">
      <div class="number-img"><%= image_tag "number_2.png" %></div>
      <div class="step-title">Interview</div>
      <div class="step-desc">Create questions to ask your candidate then video chat with them as they code in the browser. Work with them through problems using our code execution service.</div>
    </div>
    <div class="span4">
      <div class="number-img"><%= image_tag "number_3.png" %></div>
      <div class="step-title">Review</div>
      <div class="step-desc">No need to take extensive notes! The state of the interview is always saved, so you can go back and review. If you need to, there is even space to take notes in the browser.</div>
    </div>    
  </div>
</div>
