<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    Hi <%= @interviewee_name %>,
    </p>
    You have been invited to an interview by <%= @interviewer.name %>!
    <p>
      Please go to <%= link = @site + interview_path(@interview, :key => @interview.key)
      link_to link, link %> on <b><%= @interview.time_start.to_formatted_s(:long) %> - <%= @interviewer.time_zone %></b> to do your interview.
    </p>
    <p>Good luck on your interview!</p>
    <p>
    Cheers,
    </p>
    <p>
    The Coduru Team
    </p>
  </body>
</html>
