Hi <%= @interviewee_name %>,

You have been invited to an interview by <%= @interviewer.name %>!

Please go to <%= @site + interview_path(@interview, :key => @interview.key) %> on <%= raw(@interview.time_start.to_formatted_s(:long)) %> - <%= raw(@interviewer.time_zone) %> to do your interview.

Good luck on your interview!</p>

Cheers,

The Coduru Team
