@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  min-width: 1200px;
  background: #EEE;
}

section {
  overflow: auto;
}


.form-desc {
 margin-top: 10px;
 margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

/* forms */

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
 /* Navigation */

nav {
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  width: 955px;
  color: white;
}
nav ul {
  margin: 0;
  padding: 0;
  float: left;
  height: 52px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav .field {
  padding: 10px;
}

.rightnav li {
  padding-top: 14px;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

#topnav a {
  color: white;
  font-size: 1.1em;
  text-decoration: none;  
}

.loggedinnav {
  float: right;
}

.loginform {

}

.navlinks {
  width: 100%;
}


/* Profile Page */
.interview-table {
  width: 600px;
}

.interview-table td {
  width: 150px;
}

.table-headers td {
  font-weight: bold;
}

/* Main page */


/* Two column display */

.two-container {
  width: 100%;
}

.two-right {
  width:300px;
  float: right;
}

.two-left {
  float: left;
}

/* Forms */
.field p {
    font-size: 0.7em;
    margin: 0px;
}

/* Triple column display */
#fullscreen {
  width: 100%;
}

.interview_room {
  width: 100%;
}

.interview_room textarea {
  resize: none
}

.interview_room .three-container {
  width: 100%;
  height: 700px;
}

.interview_room .three-left {
  width: 150px;
}

.interview_room .three-right {
  width: 150px;
}

.interview_room .three-center {
  width: 100%;
}

.interview_room tbody tr td .notes_row {
  height: 50px;  
}
.interview_room tbody tr:nth-child(even) td, tbody tr.even td {
  background: white;
}

.interview_room .interview_box {
  width: 100%;
}

.interview_room #questions {
  width: 100%;
}

.interview_room #chat_hist_text {
  width: 100%;
}

.interview_room #notes {
  width: 100%;
  height: 50px;
}



header {
background: #51555b; /* Old browsers */
background: -moz-linear-gradient(top, #51555b 0%, #121212 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51555b), color-stop(100%,#121212)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #51555b 0%,#121212 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #51555b 0%,#121212 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #51555b 0%,#121212 100%); /* IE10+ */
background: linear-gradient(top, #51555b 0%,#121212 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51555b', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
  
}
.rightnav  {
  float: right;
}
/*
li .actions {
  float: right;
}*/

/* Main and views */
  #page {
  /*background: url('bg.png') repeat; */
  background: white;
  height: 100%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0 20px 0 20px;
  margin: auto;
  font: 1.5em arial, verdana, sans-serif;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.view-fullscreen {
  width: 90%;
  min-width: 1130px;
}

.view-center {
  width: 960px;
}
td {
vertical-align: top;
}


#container {
  height: 80%;
}


/* Buttons */
.signup-button input {
  background: transparent url(/assets/signup.png) no-repeat center top;
  width: 152px;
  height: 47px;
  padding: 0;
  margin: 0; 
  border: 0;
  cursor: pointer;
}
