html {
  height: 100%;
}

body {
  margin: 0;
  padding-top: 50px;
  min-width: 960px;
  padding-bottom: 40px;
  background: #EEE;
}

.ie-error {
  width: 600px;
  margin: 0px auto;
}

.container-fluid {
	min-width: 960px;
}
.navbar {
	min-width: 960px;
}

.front-page h1 {
	margin-top: 15px;
}

.front-page h2 {
         margin-top: 15px;
}

.form-desc {
 margin-top: 10px;
 margin-bottom: 20px;
}


.field input {
  width: 260px;
}

.field select {
  width: 260px;
}

.ivu-lbuttons {
	display: inline;
}

.btn-group form {
	display: inline;
	margin-left: 15px;
	margin-bottom: 0;
}
.btn-group input {
	display: inline;
}

/* Interview page */
.current-question {
  font-size: 15pt;
  padding-bottom: 15px;
}

/* Navigation */


.user-dropdown {
 min-width: 130px;
}

.copyright {
  margin-left: auto;
  margin-right: auto;
}

nav {
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  width: 955px;
}
nav ul {
  margin: 0;
  padding: 0;
  float: left;
  height: 52px;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav .field {
  padding: 10px;
}

.rightnav li {
  padding-top: 14px;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

#topnav a {
  color: white;
  font-size: 1.1em;
  text-decoration: none;  
}

.loggedinnav {
  float: right;
}

.loginform {

}

.navlinks {
  width: 100%;
}


/* Profile Page */
.interview-table {
  width: 600px;
}

.interview-table td {
  width: 150px;
}

.table-headers td {
  font-weight: bold;
}

/* Main page */
/* Hack for the sign in button at the top right corner. */
.btn-group .signin-btn {
  float: right;
  margin-left: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}


/* Two column display */

.two-container {
  width: 100%;
}

.two-right {
	width:300px;
	float: right;
}

.two-left {
	float: left;
}

/* Forms */
.field p {
    font-size: 0.7em;
    margin: 0px;
}

/* Triple column display */
#fullscreen {
  width: 100%;
}

.interview_room {
  width: 100%;
}

.interview_room #chat_hist {
  height: 100px;
  font-size: 12px;
  border: 1px solid;
  overflow-y: auto;
  padding-top: 8px;
  word-wrap: break-word;
}

.interview_room #languages {
  width: 100%;
}

.interview_room textarea {
  resize: none;
  width: 100%;
}

.interview_room .three-container {
  width: 100%;
  height: 100%;
}

.interview_room .three-left {
  width: 150px;
}

.interview_room .three-right {
  width: 150px;
}

.interview_room .three-center {
  width: 100%;
}

.interview_room tbody tr td .first_row {
  height: 50px;
}
.interview_room tbody tr td .notes_row {
  height: 50px;  
}
.interview_room tbody tr:nth-child(even) td, tbody tr.even td {
  background: white;
}

.interview_room #answer {
  width: 100%;
}

.interview_room #notes {
  width: 100%;
  height: 100px;
}

.interview_room #console {
  width: 100%;
  height: 100px;
}

header {
background: #51555b; /* Old browsers */
background: -moz-linear-gradient(top, #51555b 0%, #121212 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51555b), color-stop(100%,#121212)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #51555b 0%,#121212 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #51555b 0%,#121212 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #51555b 0%,#121212 100%); /* IE10+ */
background: linear-gradient(top, #51555b 0%,#121212 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51555b', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
  
}
.rightnav  {
	float: right;
}
/*
li .actions {
  float: right;
}*/

/* Main and views */
  #page {
	/*background: url('bg.png') repeat; */
  background: white;
	height: 100%;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 0 20px 0 20px;
	margin: auto;
	font: 1.5em arial, verdana, sans-serif;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.view-fullscreen {
  width: 90%;
  min-width: 1130px;
}

.view-center {
  width: 960px;
}
td {
vertical-align: top;
}


#container {
	height: 80%;
}


/* Buttons */
.signup-button input {
  background: transparent url(/assets/signup.png) no-repeat center top;
  width: 152px;
  height: 47px;
  padding: 0;
  margin: 0; 
  border: 0;
  cursor: pointer;
}

/* Video */

#my_video_and_buttons {

}

.my_video_container {
    height: 168px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.subscriber_container {
    height: 168px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.subscriber {
	height: 168px;
	width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#opentok_publisher {
    height: 168px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#video_buttons {
    width: 220px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
}

#video_toggle {
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
    margin-bottom: 5px;
}

#audio_toggle {
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#novideo_image1 {
    width: 100%;
    height: 100%;
}

#novideo_image2 {
    width: 100%;
    height: 100%;
}

#buttons_loading {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
