.error-space {
    margin-top: 10px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 15px;
}

.field-error {
    border: 2px red solid;
}

/* Exception for frontpage */
.front-account .error-space {
    margin-top: 0px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 15px;
}


