.signup-button input {
  background: transparent url(/assets/signup.png) no-repeat center top;
  width: 152px;
  height: 47px;
  padding: 0;
  margin: 0; 
  border: 0;
  cursor: pointer;
}

.front-account {
  background: url(/assets/front-page/frostedbg.jpg) -500px -20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom:10px;
  width: 300px;
  height: 365px;
  position: relative;
  left: 500px;
  top: 10px;
  border-radius: 15px;
  -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.10);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.10);
}

.callout {
  font-size: 24px;
  line-height: 28px;
  background-color: grey;
}

.new_interviewer .field {
  margin-top: 15px;
}

.new_interviewer .field .errorable {
  width: 300px;
}

.login-space {
  width: 940px;
  margin-left: 145px;
  height: 407px;
  background-image: url(/assets/front-page/bg.jpg);
}

.steps {
  margin-top: 20px;
}
.number-img {
  width: 48px;
  height: 48px;
//  margin: 0px auto;
  float: left;
}

.step-title {
  float: left;
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}

.step-desc {
  padding-left: 10px;
  margin-top: 64px;
  font-size: 14px;
}
