html {

}

body {
  font-family: Sans-Serif;
  margin: 0;
  padding-top: 48px;
  min-width: 960px;
  padding-bottom: 40px;
  background: #FFFFFF;
}

img {
  box-sizing: border-box;
}

th {
  font-size: 1.2em;
}

/* Different layouts */
.view-fullscreen {
  width: 90%;
  min-width: 1130px;
}

.view-center {
  width: 960px;
}

/* Generic items */
#buttons_loading {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

/* Two column display */

.two-container {
  width: 100%;
}

.two-right {
	width:300px;
	float: right;
}

.two-left {
	float: left;
}

/* Forms and fields */
.field input {
  width: 260px;
}

.field select {
  width: 260px;
}
.field p {
    font-size: 0.7em;
    margin: 0px;
}

.form-desc {
 margin-top: 30px;
 margin-bottom: 20px;
}


.copyright {
  margin-left: auto;
  margin-right: auto;
}