.interview_room {
  width: 100%;
}

.interview_room #chat_hist {
  margin: 10px;
  border-radius: 3px;
  height: 100px;
  font-size: 12px;
  border: 1px solid;
  overflow-y: auto;
  padding-top: 8px;
  word-wrap: break-word;
}

.interview_room .chat_submit {
  margin: 10px;
}

.interview_room #languages {
  width: 100%;
}

.interview_room textarea {
  resize: none;
  width: 100%;
}

.interview_room .three-container {
  width: 100%;
  height: 100%;
}

.interview_room .three-left {
  width: 150px;
}

.interview_room .three-right {
  width: 150px;
}

.interview_room .three-center {
  width: 100%;
}

.interview_room tbody tr td .first_row {
  height: 50px;
}
.interview_room tbody tr td .notes_row {
  height: 50px;  
}
.interview_room tbody tr:nth-child(even) td, tbody tr.even td {
  background: white;
}

.interview_room #answer {
  width: 100%;
}

.interview_room #notes {
  width: 100%;
  height: 100px;
}

.interview_room #console {
  width: 100%;
  height: 100px;
}

.current-question {
  font-size: 15pt;
  padding-bottom: 15px;
}

