// Place all the styles related to the Interviewers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// The layout for the interviewee looks different from the interviewer,
// so we need to set the heights separately.
.interview_room .interview_box_interviewer {
  position: relative;
  height: 285px;
  width: 100%;
  margin-bottom: 20px;
}

.front-account h2 {
  padding-top: 12px;
  margin-bottom: 10px;
}