// Place all the styles related to the Interviewees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// The layout for the interviewee looks different from the interviewer,
// so we need to set the heights separately.
.interview_room .interview_box_interviewee {
  position: relative;
  height: 500px;
  width: 100%;
}