header {
background: #51555b; /* Old browsers */
background: -moz-linear-gradient(top, #51555b 0%, #121212 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51555b), color-stop(100%,#121212)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #51555b 0%,#121212 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #51555b 0%,#121212 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #51555b 0%,#121212 100%); /* IE10+ */
background: linear-gradient(top, #51555b 0%,#121212 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51555b', endColorstr='#121212',GradientType=0 ); /* IE6-9 */ 
}

.navbar {
	min-width: 960px;
}

.navbar .btn-group {
  box-sizing: border-box;
//  height: 40px;
}

.navbar-inner .navbar {
  height: 40px;
}

input#session_email {
  float: left;
  margin-right: 3px;
}

input#session_password {
  float: left;
  margin-right: 3px;
}

/* Hack for the sign in button at the top right corner. */
.btn-group .signin-btn {
  float: right;
  margin-left: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}

#logo {
  background-image: url("/assets/logo.png");
  background-position-x: 20px;
  background-position-y: center;
  background-repeat: no-repeat;
  height: 24px;
  width: 106px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#nav-item a {
  font-size: 18px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: normal;
  color: #f3f1f1;
}

.rightnav  {
	float: right;
}

