/* Video */

#my_video_and_buttons {

}

.my_video_container {
    height: 168px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.subscriber_container {
    height: 168px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

.subscriber {
	height: 168px;
	width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#opentok_publisher {
    height: 168px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}

#video_buttons {
    width: 220px;
    height: 38px;
    margin-left: auto;
    margin-right: auto;
}

#video_toggle {
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
    margin-bottom: 5px;
}

#audio_toggle {
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#novideo_image1 {
    width: 100%;
    height: 100%;
}

#novideo_image2 {
    width: 100%;
    height: 100%;
}
