<footer>
 <nav 
 	<% if fullscreen? %>
 	  class="row-fluid"
 	  <% else %>
 	  class="row"
 	 <% end %>
 	 >
 	 <div class="copyright">© 2012 Coduru Inc. All Rights Reserved.</div>
  </nav>
</footer>
