<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
      <div class="nav-items">
			<%= link_to "    ", root_path, :class => "brand", :id => "logo" %>
			<ul class="nav">
				<% if signed_in? %>
				<li id="nav-item">
					<%= link_to "Interviews", "/interviews" %>
				</li>
				<li id="nav-item">
					<%= link_to "Questions", "/questions" %>
				</li>
				<% end %>
			</ul>
			<div class="btn-group pull-right nav-button">
				<% if signed_in? %> <a class="btn dropdown-toggle user-dropdown" data-toggle="dropdown"> <%= current_user.name %> <span class="caret" /></a>
				<ul class="dropdown-menu">
					<li>
						<%= link_to current_user.name, current_user %>
					</li>
					<li>
						<%= link_to "Account", account_settings_path(:id => current_user.id) %>
					</li>
					<li class="divider" />
					<li>
						<%= link_to "Sign out", signout_path %>
					</li>
				</ul>
				<% else %>

				<%= form_for(:session, {:url => sessions_path, :class => "form-inline" }) do |f| %>

				<%= f.text_field :email, :placeholder => "Email"  %>

				<%= f.password_field :password, :placeholder => "Password" %>

				<%= f.submit "Sign in", :class => "actions submit btn btn-primary js-submit signin-btn" %>

				<% end %>

				<% end %>
			</div>
                        </div>
		</div>
		</ul>
	</div>
	</div>
	</nav>
</header>
