<script type="text/javascript" src="/assets/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/assets/jquery-ui-1.8.18.custom.min.js"></script>
<script type="text/javascript">
			$(function(){

				// Datepicker
				$('#datepicker').datepicker({
					inline: true
				});
				
				//hover states on the static widgets
				$('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);
				
			});
		</script>
