<!DOCTYPE html>
<html>
<head>
  <title>Coduru</title>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31893446-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
</head>
<body>
  <!--[if IE]>
    <div class="ie-error">
      <p><b>Please install a browser other than Internet Explorer.  Coduru does not support this browser</b></p>
      <p><b>Better browsers:</b></p>
      <ul>
        <li><a href="http://www.google.com/chrome/">Google Chrome</a></li>
        <li><a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a></li>
      </ul>
    </div>
  <![endif]-->
  <![if !IE]>
    <%= render 'layouts/header' %>
  <div
    <% if fullscreen? %>
      class="container-fluid"
    <% else %>
      class="container"
    <% end %>
    >

    <% flash.each do |key, value| %>
      <div class="flash  <%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>
    <% if false %>
    <%= debug(params) if Rails.env.development? %>
    <% end %>

  </div>
  <![endif]>
</body>

</html>
